<?xml version="1.0"?>
<!-- File: app/code/Vendor/Module/etc/events.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_save_after">
        <observer name="reactedge_megamenu_category_save"
                  instance="ReactEdge\WidgetBridge\Observer\CategorySaveAfterObserver"/>
    </event>
</config>
